@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "poppins", "sans-serif";
  margin: 0;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.mobile-container {
  background-color: white;
  width: 400px;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  border: none;
  background-color: #eee;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

header button{
    background-color: transparent;
    color: #aaa;
    font-size: 1.5rem;
    border: none;
    margin-left: 10px;
}
